@page
@model PickNowWeb.Pages.CompaniesModel

<h2 class="content-block">Home</h2>

@(Html.DevExtreme().DataGrid<PickNowWeb.Models.Company>()
    .DataSource(ds => ds.Mvc()
        .Controller("Companies")
        .LoadAction("Get")
        .InsertAction("Post")
        .UpdateAction("Put")
        .DeleteAction("Delete")
        .Key("Id")
    )
    .RemoteOperations(true)
    .Columns(columns => {

        columns.AddFor(m => m.Id);

        columns.AddFor(m => m.Name);

        columns.AddFor(m => m.Phone);

        columns.AddFor(m => m.Phone2);

        columns.AddFor(m => m.Email);

        columns.AddFor(m => m.TaxCode);

        columns.AddFor(m => m.Logo);
    })
    .Editing(e => e
        .AllowAdding(true)
        .AllowUpdating(true)
        .AllowDeleting(true)
    )
)