@page
@using PickNowWeb.Models

<h2 class="content-block">Home</h2>

@(Html.DevExtreme().DataGrid<PickNowWeb.Models.Ward>()
    .DataSource(ds => ds.Mvc()
        .Controller("Wards")
        .LoadAction("Get")
        .InsertAction("Post")
        .UpdateAction("Put")
        .DeleteAction("Delete")
        .Key("Id")
    )
    .RemoteOperations(true)
    .Columns(columns => {

        columns.AddFor(m => m.Id);

        columns.AddFor(m => m.Name);

        columns.AddFor(m => m.District).Lookup(lookup => lookup
            .DataSource(ds => ds.WebApi().Controller("Wards").LoadAction("DistrictsLookup").Key("Value"))
            .ValueExpr("Value")
            .DisplayExpr("Text")
        );

        columns.AddFor(m => m.Code);
    })
    .FilterRow(filterRow => filterRow
        .Visible(true)
        .ApplyFilter(GridApplyFilterMode.Auto)
    )
    .Editing(e => e
        .AllowAdding(true)
        .AllowUpdating(true)
        .AllowDeleting(true)
    )
)

@*@(Html.DevExtreme().DataGrid<SampleOrder>()
        .ElementAttr(new { @class = "dx-card wide-card" })
        .DataSource(d => d.Mvc().Controller("SampleData").LoadAction("Get").Key("OrderID"))
        .ShowBorders(false)
        .FilterRow(f => f.Visible(true))
        .FocusedRowEnabled(true)
        .FocusedRowIndex(0)
        .ColumnAutoWidth(true)
        .ColumnHidingEnabled(true)
        .Columns(columns => {
            columns.AddFor(m => m.OrderID);
            columns.AddFor(m => m.OrderDate);
            columns.AddFor(m => m.CustomerName);
            columns.AddFor(m => m.ShipCountry);
            columns.AddFor(m => m.ShipCity);
        })
        .Paging(p => p.PageSize(10))
        .Pager(p => p
            .ShowPageSizeSelector(true)
            .AllowedPageSizes(new[] { 5, 10, 20 })
            .ShowInfo(true)
        )
    )*@