@page
@using GetNowServer.Models
@model IndexModel
@addTagHelper *, GetNowServer

<script>
    selectedMenuItemId = "#ni-home"
    window.open("StoreProductGroups", "_self")
</script>
<h2 class="content-block">Home</h2>

@*<div class="shadow p-3">@await Component.InvokeAsync("StoreProducts")</div>
<div class="shadow p-3"><vc:store-products /></div>*@

@(Html.DevExtreme().Form<GetNowServer.Models.StoreProductGroup>()
    .ShowColonAfterLabel(false)
    .Items(items => {
        items.AddGroup().Caption("Group1").Items(groupItems => {

            groupItems.AddSimpleFor(m => m.Id);

            groupItems.AddSimpleFor(m => m.StoreGroup);

            groupItems.AddSimpleFor(m => m.Name);

            groupItems.AddSimpleFor(m => m.Parent);
        });
    })
)