@page
@using GetNowServer.Models
@model IndexModel
@addTagHelper *, GetNowServer

<script>
    selectedMenuItemId = "#ni-home"
    window.open("StoreProducts", "_self")
</script>
<h2 class="content-block">Home</h2>

@*<div class="shadow p-3">@await Component.InvokeAsync("StoreProducts")</div>
<div class="shadow p-3"><vc:store-products /></div>*@