@page
@using GetNowServer.Models
@model IndexModel
@addTagHelper *, GetNowServer

<script>
    selectedMenuItemId = "#ni-home"
    window.open("StoreProducts", "_self")
</script>
<h2 class="content-block">Home</h2>

@*<div class="shadow p-3">@await Component.InvokeAsync("StoreProducts")</div>
<div class="shadow p-3"><vc:store-products /></div>*@

@*@(Html.DevExtreme().Form<GetNowServer.Models.Product>()
    .ShowColonAfterLabel(false)
    .Items(items => {
        items.AddGroup().Caption("Product Information").ColCount(2).ColSpan(2).Items(groupItems => {

            groupItems.AddSimpleFor(m => m.Id);

            groupItems.AddSimpleFor(m => m.Name);

            groupItems.AddSimpleFor(m => m.Unit)
                .Editor(e => e
                    .Lookup()
                    .DataSource(ds => ds.WebApi().Controller("Products").LoadAction("UnitsLookup").Key("Value"))
                    .ValueExpr("Value")
                    .DisplayExpr("Text")
                );

            groupItems.AddSimpleFor(m => m.Code);

            groupItems.AddSimpleFor(m => m.Brand)
                .Editor(e => e
                    .Lookup()
                    .DataSource(ds => ds.WebApi().Controller("Products").LoadAction("BrandsLookup").Key("Value"))
                    .ValueExpr("Value")
                    .DisplayExpr("Text")
                );

            groupItems.AddSimpleFor(m => m.Origin)
                .Editor(e => e
                    .Lookup()
                    .DataSource(ds => ds.WebApi().Controller("Products").LoadAction("OriginsLookup").Key("Value"))
                    .ValueExpr("Value")
                    .DisplayExpr("Text")
                );

            groupItems.AddSimpleFor(m => m.Size)
                .Editor(e => e
                    .Lookup()
                    .DataSource(ds => ds.WebApi().Controller("Products").LoadAction("SizesLookup").Key("Value"))
                    .ValueExpr("Value")
                    .DisplayExpr("Text")
                );

            groupItems.AddSimpleFor(m => m.Color)
                .Editor(e => e
                    .Lookup()
                    .DataSource(ds => ds.WebApi().Controller("Products").LoadAction("ColorsLookup").Key("Value"))
                    .ValueExpr("Value")
                    .DisplayExpr("Text")
                );

            groupItems.AddSimpleFor(m => m.Description);

            groupItems.AddSimpleFor(m => m.Image)
                .Editor(e => e
                    .Lookup()
                    .DataSource(ds => ds.WebApi().Controller("Products").LoadAction("ImageInfosLookup").Key("Value"))
                    .ValueExpr("Value")
                    .DisplayExpr("Text")
                );
        });
    })
)*@