@{ Layout = null; }
<div><a id="itemImgLink<%- data.Id %>" name="itemImgLink<%- data.Id %>" class="cell-icon-container" title="Click to change">
    <img id="itemImg<%- data.Id %>" class="cell-icon" src="~/data_images/<%- data.ImageFile %>" alt="" />
 </a></div>
<script>
    $("#itemImgLink<%- data.Id %>").click(function () {
        var dataId = parseInt(this.name.replace("itemImgLink", ""))
        showChangeIconPopover(dataId)
    });
</script>

