@{ Layout = null; }
<div><a id="#productGroupNameCell<%- data.Id %>" class="dx-link" name="productGroupNameCell<%- data.Id %>" title="Click to view products" onclick="displayProducts(this.name)"><%- data.Name %></a></div>

